<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Mapper.PatientMapper">

    <update id="updateProfile">
        <!-- 更新 user 表 -->
        UPDATE "user"
        <set>
            <if test="profile.name != null">name = #{profile.name},</if>
            <if test="profile.gender != null">sex = #{profile.gender},</if>
            <if test="profile.phone != null">phone_num = #{profile.phone},</if>
            <if test="profile.address != null">email = #{profile.address},</if>
        </set>
        WHERE id = #{patientId};
        
        <!-- 更新 patient 表 -->
        UPDATE patient
        <set>
            <if test="profile.birthDate != null">birth = #{profile.birthDate}::date,</if>
        </set>
        WHERE id = #{patientId}
    </update>

    <select id="findProfileById" resultType="com.example.pojo.vo.PatientProfileVo">
        SELECT
            p.id AS "patientId",
            u.name,
            u.sex AS "gender",
            p.birth AS "birthDate",
            u.phone_num AS "phone",
            u.email AS "address",
            '' AS "medicalHistory",
            '' AS "allergies"
        FROM patient p
        INNER JOIN "user" u ON p.id = u.id
        WHERE p.id = #{patientId}
    </select>

</mapper>
